* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import './board/board.style.scss';
@import './button/button.style.scss';
@import './cell/cell.style.scss';
@import './gameInfo/gameInfo.style.scss';
@import './layout/layout.style.scss'

