.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
