
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 250px;
    background-color: white;
    transform: translate(-50%, -80%);
  }
  
  .display-block {
    display: block;
  }
  .display-none {
    display: none;
  }